@media (min-width: 320px) and (max-width: 1199px) {
  header .links {
    display: none;
  }
}

@media (min-width: 1600px) and (max-width: 1713px) {
  /* home card carousel */
  .home-card-carousel {
    margin-top: 100px;
    margin-bottom: 90px;
  }
  .blurr-img-carousel {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .blurr-img-carousel .blurr-text-container {
    padding: 30px 50px;
  }
  .blurr-img-carousel .slick-arrow {
    bottom: 39px;
  }
  .img-with-captions {
    margin-top: 100px;
  }
  .home-box-carousel {
    margin-top: 100px;
    padding-bottom: 153px;
  }
  .home-box-carousel .box {
    width: 765px !important;
  }

  .home-box-carousel .prev-arrow {
    right: calc(50vw + 400px);
  }
  .home-box-carousel .next-arrow {
    left: calc(50vw + 400px);
  }
  .home-group-image {
    margin-top: 100px;
  }
  .home-ecc-process .text {
    max-width: 560px;
  }
  .home-ecc-process .head-para-container {
    margin-bottom: 50px;
  }
  .home-img-with-stats .heading {
    font-size: 36px;
  }
  .home-img-with-stats .text-container {
    padding-left: 70px;
  }
  .home-img-with-stats .text {
    margin-bottom: 20px;
  }
  .home-img-with-stats h2 {
    font-size: 48px;
  }
  .home-latest-carousel .carousel-container {
    padding-top: 40px;
  }
  .home-latest-carousel .home-card-carousel {
    margin-bottom: 0;
  }
  .home-card-carousel .main-heading h2 {
    max-width: 478px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  /* home banner */

  .home-banner .heading {
    font-size: 54px;
  }
  /* home card carousel */
  .home-card-carousel {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .home-card-carousel .heading1 {
    font-size: 48px;
  }
  .blurr-img-carousel {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .blurr-img-carousel .heading {
    font-size: 54px;
  }

  .blurr-img-carousel .blurr-text-container {
    padding: 30px 40px;
  }
  .blurr-img-carousel .slick-arrow {
    bottom: 39px;
  }
  .img-with-captions {
    margin-top: 170px;
  }

  .home-box-carousel {
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .home-box-carousel .heading {
    font-size: 48px;
    margin-bottom: 40px;
    margin-left: 100px;
  }

  .home-box-carousel .box {
    width: 600px !important;
  }
  .home-box-carousel .text-container {
    padding-top: 0;
  }
  .home-box-carousel .text {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .home-box-carousel .hr {
    margin-bottom: 20px;
  }
  .home-box-carousel .name {
    font-size: 20px;
  }
  .home-box-carousel .designation {
    font-size: 18px;
  }
  .home-box-carousel .prev-arrow {
    left: calc(50vw - 380px);
  }
  .home-box-carousel .next-arrow {
    left: calc(50vw + 317px);
  }
  .home-card-carousel .carousel-container {
    padding-left: 100px;
  }
  /*  */

  .home-group-image {
    margin-top: 100px;
  }
  .home-group-image .heading {
    font-size: 48px;
    padding-right: 10px;
  }
  .home-ecc-process {
    margin-top: 150px;
  }
  .home-ecc-process .text {
    max-width: 530px;
  }
  .home-ecc-process .card {
    padding: 20px 30px 58px;
  }
  .home-ecc-process .heading {
    font-size: 48px;
  }
  /*  */
  .home-img-with-stats h2 {
    font-size: 48px;
  }
  .home-img-with-stats .text-container {
    padding-left: 50px;
  }
  .home-img-with-stats .text {
    margin-bottom: 22px;
  }
  .home-img-with-stats .heading {
    font-size: 36px;
  }
  /*  */
  .home-latest-carousel .carousel {
    padding-left: 40px;
  }
  .home-latest-carousel .carousel-container {
    padding-left: 100px;
  }
  .home-latest-carousel .latest-text-container {
    padding-left: 40px;
  }
  .home-latest-carousel .home-card-carousel {
    padding-bottom: 72px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header .navbar {
    padding: 12px 0;
  }
  .home-banner .heading {
    max-width: 740px;
    font-size: 48px;
  }
  /*  */
  .home-card-carousel .main-heading {
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
  }
  .home-card-carousel .main-heading > div {
    flex: 1;
  }
  .home-card-carousel .col-sm-4,
  .home-card-carousel .col-sm-8 {
    max-width: 100%;
  }

  .home-card-carousel .our-services {
    flex-direction: column;
  }
  .home-card-carousel .main-heading h2 {
    font-size: 36px;
    padding-left: 15px;
    margin-bottom: 20px;
    max-width: 500px;
    margin-inline: auto;
    text-align: center;
  }
  .home-card-carousel .carousel-container {
    padding: 30px;
  }
  .home-card-carousel .card {
    margin-inline: 15px;
  }
  .home-card-carousel h3 {
    margin-inline: auto;
  }
  .home-card-carousel .text {
    text-align: center;
    margin-inline: auto;
  }
  .home-card-carousel {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 90px;
  }
  .home-card-carousel .carousel {
    max-width: 760px;
  }
  .home-card-carousel .carousel .heading {
    font-size: 18px;
    line-height: 20px;
    padding-left: 0;
  }
  .home-card-carousel .card-desc {
    padding: 0;
  }
  .home-card-carousel .carousel .text {
    padding-left: 0px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
  }
  .home-card-carousel .prev-arrow,
  .home-card-carousel .next-arrow,
  .home-box-carousel .prev-arrow,
  .home-box-carousel .next-arrow {
    top: 440px;
  }
  .home-card-carousel .prev-arrow {
    left: calc(50% - 40px);
  }
  .home-card-carousel .next-arrow {
    left: calc(50% + 40px);
  }

  .home-card-carousel .our-services .heading {
    text-align: center;
    font-size: 36px;
  }
  /*  */
  .blurr-img-carousel {
    padding: 75px 0;
  }
  .blurr-img-carousel .heading {
    font-size: 36px;
    line-height: 45px;
  }
  .blurr-img-carousel .blurr-text-container {
    padding: 12px 20px;
  }
  .blurr-img-carousel .blurr-text {
    font-size: 16px;
    max-width: 275px;
    line-height: 20px;
  }
  .blurr-img-carousel .slick-arrow {
    bottom: 16px;
  }
  .blurr-img-carousel .next-arrow {
    right: 16px;
  }
  .blurr-img-carousel .prev-arrow {
    right: 70px;
  }
  /*  */
  .img-with-captions {
    margin-top: 100px;
  }
  .img-with-captions .img-container {
    height: 30px;
  }
  .img-with-captions .about,
  .home-ecc-process .process {
    font-size: 22px;
  }
  .img-with-captions .heading {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .img-with-captions .img-and-caption {
    grid-template-columns: 1.5fr 1fr;
  }
  .img-with-captions .leaf-img-container {
    margin-bottom: 20px;
  }
  .img-with-captions .text2 {
    margin-top: 20px;
  }
  .img-with-captions .learn-more {
    margin-top: 20px;
  }
  .img-with-captions .learn-more span,
  .img-with-captions .learn-more img {
    left: 18px;
  }
  .img-with-captions .learn-more {
    width: 205px;
    height: 52px;
  }
  .img-with-captions .text1,
  .img-with-captions .text2 {
    line-height: 140%;
  }
  /*  */
  .home-box-carousel {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-box-carousel .heading {
    margin: 0 auto;
    font-size: 36px;
    max-width: 410px;
    margin-bottom: 30px;
  }
  .home-box-carousel .box {
    width: 500px !important;
  }
  .home-box-carousel .text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .home-box-carousel .text-container {
    padding-top: 0;
  }
  .home-box-carousel .hr {
    margin-bottom: 20px;
  }
  .home-box-carousel .name {
    font-size: 20px;
  }
  .home-box-carousel .designation {
    font-size: 18px;
  }
  .home-box-carousel .prev-arrow {
    right: calc(50vw + 270px);
  }
  .home-box-carousel .next-arrow {
    left: calc(50vw + 270px);
  }
  .home-box-carousel .next-arrow,
  .home-box-carousel .prev-arrow {
    top: 182px;
  }
  /*  */
  .home-group-image {
    margin-top: 100px;
  }
  .home-group-image .ready-to-build {
    flex-direction: column;
  }
  .home-group-image h2 {
    font-size: 36px;
  }
  .home-group-image .heading {
    max-width: 500px;
    margin-bottom: 10px;
  }
  .home-group-image .text-container {
    align-self: flex-start;
  }
  .home-group-image .about-us {
    margin-top: 40px;
  }
  .home-group-image .img-container {
    margin-top: 30px;
  }
  /*  */
  .home-ecc-process .img-container {
    height: 34px;
  }
  .home-ecc-process .img-container img {
    height: 100%;
  }
  .home-ecc-process .process {
    font-size: 15px;
  }
  .home-ecc-process .head-para-container {
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  .home-ecc-process .heading {
    font-size: 36px;
    max-width: 280px;
    margin-bottom: 10px;
  }
  .home-ecc-process .text {
    line-height: 20px;
  }
  .home-ecc-process .card {
    padding: 20px;
  }

  .home-ecc-process .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /*  */
  .home-img-with-stats {
    margin-top: 130px;
  }
  .home-img-with-stats .container-1595 {
    flex-direction: column;
  }
  .home-img-with-stats .col-sm-6 {
    max-width: 100%;
  }
  .home-img-with-stats .img-container {
    width: 400px;
    margin-inline: auto;
  }
  .home-img-with-stats .text-container {
    padding: 0;
    text-align: center;
  }
  .home-img-with-stats h2 {
    font-size: 36px;
    margin-top: 20px;
  }
  .home-img-with-stats .text {
    margin: 10px auto 30px;
  }
  .home-img-with-stats .heading {
    font-size: 36px;
  }
  .home-img-with-stats .learn-more {
    margin-inline: auto;
  }
  /*  */
  .home-latest-carousel .home-card-carousel {
    margin-top: 0px;
  }
  .home-latest-carousel .text-container {
    padding: 10px;
  }
  .home-latest-carousel .latest-head {
    font-size: 18px;
    line-height: 20px;
  }
  .home-latest-carousel .text-para {
    font-size: 16px;
    line-height: 20px;
  }
  .home-latest-carousel .home-card-carousel .prev-arrow,
  .home-latest-carousel .home-card-carousel .next-arrow {
    top: initial;
    bottom: -60px;
  }
  /* footer */
  footer .container-1595 {
    flex-wrap: wrap;
  }
  .footer-about-width-height {
    height: 80px;
  }
  .footer-about {
    margin-bottom: 12px;
  }
  .footer-navigateHead {
    margin-bottom: 12px;
  }
  .footer-navigateText {
    gap: 10px;
  }
  footer .container-1595 > div {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  footer {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .home-banner {
    height: 400px;
  }
  .home-banner h1 {
    font-size: 36px;
  }

  .home-card-carousel .main-heading {
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
  }
  .home-card-carousel .main-heading > div {
    flex: 1;
  }
  .home-card-carousel .col-sm-4,
  .home-card-carousel .col-sm-8 {
    max-width: 100%;
  }

  .home-card-carousel .our-services {
    flex-direction: column;
  }
  .home-card-carousel .main-heading h2 {
    font-size: 36px;
    padding-left: 15px;
    margin-bottom: 20px;
    max-width: 500px;
    margin-inline: auto;
    text-align: center;
  }
  .home-card-carousel .carousel-container {
    padding: 30px;
    width: 560px;
    margin-inline: auto;
  }
  .home-card-carousel .card {
    margin-inline: 15px;
  }
  .home-card-carousel h3 {
    margin-inline: auto;
  }
  .home-card-carousel .text {
    text-align: center;
    margin-inline: auto;
  }
  .home-card-carousel {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 90px;
  }
  .home-card-carousel .carousel {
    max-width: 760px;
  }
  .home-card-carousel .carousel .heading {
    font-size: 18px;
    line-height: 20px;
    padding-left: 0;
  }
  .home-card-carousel .card-desc {
    padding: 0;
  }
  .home-card-carousel .carousel .text {
    padding-left: 0px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 100%;
    text-align: left;
  }
  .home-card-carousel .prev-arrow,
  .home-card-carousel .next-arrow,
  .home-box-carousel .prev-arrow,
  .home-box-carousel .next-arrow {
    top: initial;
    bottom: -70px;
  }
  .home-card-carousel .prev-arrow {
    left: calc(50% - 40px);
  }
  .home-card-carousel .next-arrow {
    left: calc(50% + 40px);
  }

  .home-card-carousel .our-services .heading {
    text-align: center;
    font-size: 36px;
  }

  /*  */
  .blurr-img-carousel {
    padding: 50px 0;
  }
  .blurr-img-carousel .container-1595 {
    max-width: 500px;
  }
  .blurr-img-carousel .heading {
    max-width: 100%;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .blurr-img-carousel .blurr-text-container {
    padding: 10px;
  }
  .blurr-img-carousel .blurr-text {
    font-size: 14px;
  }
  .blurr-img-carousel .slick-arrow,
  .blurr-img-carousel .prev-svg,
  .blurr-img-carousel .next-svg {
    height: 24px;
    width: 24px;
  }
  .blurr-img-carousel .slick-arrow {
    top: initial;
    bottom: 24px;
  }
  .blurr-img-carousel .next-arrow {
    right: 20px;
  }
  .blurr-img-carousel .prev-arrow {
    right: 54px;
  }
  /*  */
  .img-with-captions {
    margin-top: 100px;
  }
  .img-with-captions .img-container {
    width: 50px;
    display: flex;
    align-items: center;
    height: auto;
  }

  .img-with-captions .heading {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .img-with-captions .img-and-caption {
    grid-template-columns: auto;
  }
  .img-with-captions .leaf-img-container {
    padding: 0;
    margin-bottom: 20px;
  }
  .img-with-captions .heading {
    margin-bottom: 30px;
  }
  .img-with-captions .text2 {
    margin-top: 20px;
  }
  .img-with-captions .img2-grid {
    margin-top: 30px;
  }
  .img-with-captions .learn-more {
    margin-top: 20px;
    transform: scale(0.7);
  }
  .img-with-captions .about {
    font-size: 18px;
  }
  /*  */
  .home-box-carousel {
    margin-top: 100px;
    padding: 70px 0px 90px;
  }
  .home-box-carousel .heading {
    margin-inline: auto;
    font-size: 36px;
    max-width: 406px;
    text-align: center;
    margin-bottom: 20px;
  }
  .home-box-carousel .box {
    width: 500px !important;
  }
  .home-box-carousel .text-container {
    padding-top: 0;
  }
  .home-box-carousel .text {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .home-box-carousel .hr {
    margin-bottom: 20px;
  }
  .home-box-carousel .next-arrow {
    left: calc(50vw + 10px);
  }
  .home-box-carousel .prev-arrow {
    right: calc(50vw + 10px);
  }
  .home-box-carousel .next-arrow,
  .home-box-carousel .prev-arrow {
    top: initial;
    bottom: -100px;
  }
  /*  */
  .home-group-image {
    margin-top: 80px;
  }
  .home-group-image .ready-to-build {
    flex-direction: column;
  }
  .home-group-image .heading {
    font-size: 32px;
    max-width: 363px;
  }
  .home-group-image .about-us {
    margin-top: 20px;
  }
  .home-group-image .img-container {
    margin-top: 30px;
  }
  /*  */
  .home-ecc-process {
    margin-top: 100px;
  }
  .home-ecc-process .img-container {
    width: 50px;
    display: flex;
    align-items: center;
  }
  .home-ecc-process .process {
    font-size: 18px;
  }
  .home-ecc-process .hr,
  .img-with-captions .hr {
    margin-left: 10px;
  }
  /*  */
  .home-ecc-process .head-para-container {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .home-ecc-process .heading1 {
    font-size: 32px;
  }
  .home-ecc-process .text {
    line-height: 22px;
  }
  .home-ecc-process .cards {
    grid-template-columns: 1fr;
  }
  .home-ecc-process .card {
    padding: 20px;
  }
  .home-ecc-process .card-head {
    font-size: 24px;
    margin-bottom: 0;
  }
  .home-ecc-process .card-text {
    line-height: 24px;
  }
  /*  */
  .home-img-with-stats {
    margin-top: 130px;
  }
  .home-img-with-stats .container-1595 {
    flex-direction: column;
  }
  .home-img-with-stats .col-sm-6 {
    max-width: 100%;
  }
  .home-img-with-stats .img-container {
    width: 400px;
    margin-inline: auto;
  }
  .home-img-with-stats .text-container {
    padding: 0;
    text-align: center;
  }
  .home-img-with-stats h2 {
    font-size: 36px;
    margin-top: 20px;
  }
  .home-img-with-stats .text {
    margin: 10px auto 30px;
  }
  .home-img-with-stats .heading {
    font-size: 36px;
  }
  .home-img-with-stats .learn-more {
    margin-inline: auto;
  }
  .home-latest-carousel .home-card-carousel {
    margin-bottom: 75px;
  }
  /* footer */
  footer .container-1595 {
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    gap: 10;
  }
  .footer-about-width-height {
    height: 80px;
  }
  .footer-about {
    margin-bottom: 12px;
  }
  .footer-navigateHead {
    margin-bottom: 12px;
    font-size: 24px;
  }
  .footer-navigateText {
    gap: 10px;
  }
  footer .container-1595 > div {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  footer {
    padding: 80px 0;
  }
  footer .social-icons {
    gap: 5px;
  }
  .footer-about-text {
    line-height: 16px;
  }
}
